@charset "utf-8";

$primary: #fc6726;
$info: #380d75;
$warning: #fca121;
$danger: #db3b21;

@import "../node_modules/bulma/bulma.sass";

.top-footer-border {
    border-bottom: $card-footer-border-top;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.dark-bg {
  background-color: #77718a;
}