<div class="column is-8 is-offset-2">
    <br>
    <nav class="level">
    <div class="level-left">
        <div class="level-item">
        <span class="icon">
            <i class="fab fa-twitter"></i>
        </span> &emsp;
        <span class="icon">
            <i class="fab fa-facebook"></i>
        </span> &emsp;
        <span class="icon">
            <i class="fab fa-instagram"></i>
        </span> &emsp;
        <span class="icon">
            <i class="fab fa-gitlab"></i>
        </span> &emsp;
        <span class="icon">
            <i class="fas fa-envelope"></i>
        </span>
        </div>
    </div>
    <div class="level-right">
        <small class="level-item" style="color: var(--textLight)">
            v{{pkgversion}} |
            &copy; GitLab, Inc. |
            MIT Licensed.
        </small>
    </div>
    </nav>
</div>