{{> t_hello }}

{{{{vuejs}}}}
<div id="app">
    <div class="card" :class="lights ? '' : 'dark-bg'">
    <header class="card-header">
        <p class="card-header-title has-text-info">
            Tanukigotchi
        </p>
        <a href="#" class="card-header-icon" aria-label="more options">
            <span class="icon">
                <i class="fas fa-angle-down" aria-hidden="true"></i>
            </span>
        </a>
    </header>
    <footer class="card-footer top-footer-border">
        <a v-for="item in nav.top" class="card-footer-item has-text-primary" @click="currentScreen = item.screen">
            <i class="fas fa-2x" :class="item.icon"></i>
        </a>
    </footer>
    <div class="card-content">
        <div class="content is-flex is-align-content-center is-align-items-center is-justify-content-center"
            style="min-height: 320px;">
            <!-- <div v-if="currentScreen == 'lights'"> -->
            <div v-if="currentScreen == 'dashboard'">
                Dashboard
            </div>
            <div v-else>
                <div class="is-flex is-align-content-center is-align-items-center is-justify-content-center">
                        <div class="is-size-1" style="width: 50px;">
                            <transition 
                                name="custom-classes-transition" 
                                enter-active-class="animate__animated animate__wobble" 
                                leave-active-class="animate__animated animate__zoomOutRight">
                                <div v-if="currentEmoji">
                                    {{currentEmoji}}
                                </div>
                            </transition>
                        </div>
                    <figure class="image is-128x128">
                        <img :src="currentScreenImg">
                    </figure>
                    <div class="is-size-1">
                        {{clocks[time]}}
                    </div>
                </div>
                <div class="is-flex is-align-content-center is-align-items-center is-justify-content-center" style="min-height: 65px;">
                    <button v-for="button in buttons[currentScreen]" class="button mx-1 is-info is-outlined" @click="runAction(button.action)">
                        {{button.text}}
                    </button>
                </div>
                <div style="min-height: 100px;">
                    <div class="box" v-if="currentScreen == 'food' || currentScreen == 'game' || currentScreen == 'doctor' || currentScreen == 'bath'">
                        <div class="columns">
                            <div class="column" v-for="i in 4">
                                {{hearts[i-1]}}
                            </div>
                        </div>
                    </div>
                    <div class="box has-text-centered" v-if="currentScreen == 'lights'">
                        <p>The current time is {{time}}:{{tick}}</p>
                        <p class="is-size-2 has-text-centered">
                            {{clocks[time]}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="card-footer top-footer-border">
        <a v-for="item in nav.bottom" class="card-footer-item has-text-primary" @click="currentScreen = item.screen">
            <i class="fas fa-2x" :class="item.icon"></i>
        </a>
    </footer>
    </div> 
</div>

<script>
    Vue.component('todo-item', {
        template: '#hello-world-template'
    })

    var app = new Vue({
        el: '#app',
        data: {
            nav: {
                top: [
                    { screen: 'food', icon: 'fa-utensils'},
                    { screen: 'lights', icon: 'fa-lightbulb'},
                    { screen: 'game', icon: 'fa-gamepad'},
                    { screen: 'doctor', icon: 'fa-syringe'}
                ],
                bottom: [
                    { screen: 'bath', icon: 'fa-bath'},
                    { screen: 'dashboard', icon: 'fa-tachometer-alt'},
                    { screen: 'yell', icon: 'fa-tired'},
                    { screen: 'home', icon: 'fa-grin-beam'}
                ]
            },
            buttons: {
                food: [
                    { text: 'Meal', action: 'feed.meal' },
                    { text: 'Snack', action: 'feed.snack' }
                ],
                lights: [
                    { text: 'Turn Switch', action: 'lights' },
                ],
                game: [
                    { text: 'Play Now', action: 'game' },
                ],
                doctor: [
                    { text: 'Visit Doctor', action: 'doctor' },
                ],
                bath: [
                    { text: 'Take Bath', action: 'bath' },
                ],
                yell: [
                    { text: 'Give Time Out', action: 'yell' },
                ]
            },
            // One of home, food, lights, game, doctor, bath, dashboard, yell, home
            currentScreen: 'home',
            currentEmoji: '',
            time: 6,
            tick: "00",
            lights: true,
            clocks: ["🕛", "🕐", "🕑", "🕒", "🕓", "🕔", "🕕", "🕖", "🕗", "🕘", "🕙", "🕚", "🕛", "🕐", "🕑", "🕒", "🕓", "🕔", "🕕", "🕖", "🕗", "🕘", "🕙", "🕚"],
            show: true,
            todos: [
                { text: 'Learn JavaScript' },
                { text: 'Learn Vue' },
                { text: 'Build something awesome' }
            ],
            tanuki: {
                status: 'neutral',
                food: 0,
                play: 0,
                health: 4,
                discipline: 0,
                age: 0,
            }
        },
        computed: {
            currentScreenImg: function() {
                const root = '/img/gitlab-fan/'
                switch(this.currentScreen) {
                    case 'food':
                        return root + 'gitlabfan-happy.png';
                    case 'game':
                        return root + 'gitlabfan-celebrate.png';
                    case 'lights':
                        x = (Math.floor(Math.random() * 2) == 0);
                        return x ? root + 'gitlabfan-tired.png' : root + 'gitlabfan-tired-2.png';
                    case 'doctor':
                        x = (Math.floor(Math.random() * 2) == 0);
                        return x ? root + 'gitlabfan-bug.png' : root + 'gitlabfan-sick.png';
                    case 'bath':
                        return root + 'gitlabfan-omg.png';
                    case 'yell':
                        return root + 'gitlabfan-sob.png';
                    default:
                        return root + 'gitlabfan-happy.png';
                }    
            },
            hearts: function() {
                return [this.heart(1, this.currentScreen), this.heart(2, this.currentScreen), this.heart(3, this.currentScreen), this.heart(4, this.currentScreen)];
            }
        },
        mounted: function () {
            console.log('Welcome');
            setInterval(this.updateTick, 100);
        },
        methods: {
            updateTick() {
                this.tick++
                if (this.tick > 59) {
                    this.tick = 0
                    this.time++
                }
                this.tick = this.tick.toString().padStart(2,0);
            },
            heart(i, type) {
                const val = this.tanuki[type];
                return val >= i ? '💜' : '🤍';
            },
            getHeart(i, type) {
                if (!type) type = this.currentScreen;
                const val = this.tanuki[type];
                return val >= i ? 'fas fa-heart' : 'far fa-heart';
            },
            runAction(action) {               
                switch(action) {
                    case 'feed.meal':
                      this.feed('meal');
                      break;
                    case 'feed.snack':
                      this.feed('snack');
                      break;
                    case 'lights':
                      this.lights = !this.lights;
                      breal;
                    default:
                      console.error(`Unhandled action: ${action}`);
                }

                setTimeout(this.clearEmoji, 3500);
            },
            clearEmoji() {
                this.currentEmoji = '';
                this.$forceUpdate();
            },
            feed(type) {
                console.log(`Feeding a ${type}`);
                let addFood = 0.5;
                if (type == 'meal') {
                    this.currentEmoji = '🥪'
                    addFood = 1;
                } else {
                    this.currentEmoji = '🥨'
                }
                setTimeout(() => { this.tanuki.food += addFood }, 4500);
            }
        }
    });
</script>
{{{{/vuejs}}}}