<div class="columns is-multiline">
    <div class="column is-10 is-offset-1 register">
        <div class="columns">
        <div class="column left">
            <h1 class="title is-1">Tanuki-gotchi</h1>
            <h2 class="subtitle colored is-4">Raise your own virtual Tanuki</h2>
            <img src="/img/homelogo.png" width="180" />
            <p>
                The <a href="https://en.wikipedia.org/wiki/Raccoon_dog" target="_blank">Tanuki</a>, 
                a Japanese raccoon dog, is a smart animal that works in a group to achieve a common goal.
            </p>
        </div>
        <div class="column right has-text-centered">
            {{#if auth.isLoggedIn}}
            <div>
                <h1 class="title is-4">Welcome back!</h1>
                <p class="description">The {{tanukiadj}} tanuki is {{tanukifact}}.</p>
                <br/><br/>

                <a class="button is-block is-primary is-fullwidth is-medium" href="/app">🦊 Go to your Tanuki!</a>
            </div>
            {{else}}
            <div>
                <h1 class="title is-4">Sign up today</h1>
                <p class="description">The {{tanukiadj}} tanuki is {{tanukifact}}.</p>
                <br/><br/>

                <a class="button is-block is-primary is-fullwidth is-medium" href="/login">🦊 Get your Tanuki!</a>
                <br/><br/>
                <a class="button is-block is-fullwidth is-medium is-dark" href="/login">Log In</a>
                <br/>
                <small><em><a href="https://about.gitlab.com/privacy/">Privacy Policy</a></em></small>
            </div>
            {{/if}}
        </div>
        </div>
    </div>
</div>