<ul>
    <li>
        <strong>isLoggedIn</strong>:
        {{auth.isLoggedIn}}
    </li>
    <li>
        <strong>user.nickname</strong>:
        {{auth.user.nickname}}
    </li>
    <li>
        <strong>user.name</strong>:
        {{auth.user.name}}
    </li>
    <li>
        <strong>user.email</strong>:
        {{auth.user.email}}
    </li>
    <li>
        <strong>user.picture</strong>:
        <img src="{{auth.user.picture}}" />
    </li>
</ul>